<nav class="bg-blue-900 fixed inset-x-0 p-4">
  <div class="mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <img
          class="h-10"
          src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
        />
      </div>
    </div>
  </div>
</nav>
<span class="flex mt-auto justify-end pt-20 pr-4">
  <button
    class="
      flex
      items-center
      gap-1
      sm:text-lg
      border border-gray-300
      px-3
      py-1
      hover:bg-gray-50
      transition-colors
      focus:bg-gray-100 focus:outline-none
      focus-visible:border-gray-500
    "
    (click)="onProceed(-1)"
  >
    <span>&#8592;</span>
  </button>
  <button
    class="
      flex
      items-center
      gap-1
      sm:text-lg
      border border-gray-300
      px-3
      py-1
      hover:bg-gray-50
      transition-colors
      focus:bg-gray-100 focus:outline-none
      focus-visible:border-gray-500
    "
    (click)="onProceed(1)"
  >
    <span>&#8594;</span>
  </button>
</span>
<app-hoc-comp [componentPath]='componentLocation' [componentClassName]='componentClassName'></app-hoc-comp>